<div class="main_content">
  <h3>Log In</h3>
  <div class = "clear"></div>
      
  <% form_tag session_path do -%>
    <div style = "float: left">
      <h4>login</h4>
      <div class = "clear"></div>
      <%= text_field_tag 'login', @login %>
    </div>
    <div style = "float: left; padding-left: 25px">
      <h4>password</h4>
      <div class = "clear"></div>
      <%= password_field_tag 'password', nil %>
    </div>

    <div class = "clear"></div>
    <%= submit_tag 'Log in' %>
  <% end -%>
</div>