<div id = "widgets">  
  <% [ 'search', 'tags', 'posts' ].each do |widget| %>
    <div class = "widget">
        <h3><%= widget %></h3>
        <%= render :partial => "widgets/blogs/#{widget}" %>
    </div>
  <% end %>
</div>