.calendar {
  margin: auto;
}

.monthName {
	font-size: 20px;
  font-weight: normal;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 0.7em;
}

.dayName th {
  font-size: 17px;
  color: black;
  font-weight: normal;
  text-transform: lowercase;
  text-align: center;
  border-bottom: 1px solid black;
}

th abbr {
	border: 0px;
}

.otherMonth, .day, .specialDay {
  padding: 0.7em 1em;
  border-right: 1px solid white;
}

.saturday, .sunday {
  background-color: #DDDDDD;
}

.saturday {
	border-right: 1px solid black;
}

.day, .specialDay, .otherMonth {
	vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid black;
	width: 40px;
	height: 30px;
	border-left: 1px solid black;
	font-size: 10px;
	color: black;
	font-weight: bold;
}

.otherMonth {
  color: #999999;
}

.specialDay {
	font-size: 12px;
}

.today {
	background-color: #d2e1e4;
}

.month_name, .month_nav {
	font-weight: bold;
	font-size: 14px;
}