/********************************************
 *	addicted to ian             						*
\********************************************/

html, * {
	margin:0px;
	padding:0px
}

body {
	background-color: #fff;
	height:100%;
	width:100%;
	text-align:left;
	font-family: verdana, sans-serif;
	color:#666;
	font-size:12px;
}

a {
	text-decoration:none;
}
a { color:#F26E25 }
a:link {color: #F26E25}    
a:visited {color: #F26E25} 
a:hover {
	text-decoration:underline;
	color: black;
}   
a:active {color: #F26E25}

img { border:none }

p { font-weight:normal}

.clear {
	clear:both;
	line-height: 0px;
	height: 0px;
}

img, div, input { behavior: url("scripts/iepngfix.htc") }

/********************************************
 *	header									*
\********************************************/

#header {
	height:156px;
	width:100%;
	border-bottom:1px solid #000;
}

#header_container {
	height:100%;
	margin:0 auto;
	width:980px;
	position:relative;
}

#header_container img {
	position: absolute;
	top: 112px;
	left: 114px;
}

.nav_links div {
	position: absolute;
	top: 136px;
	font-size:17px
}

.nav_links div a {
  color:#000;
}

.nav_links div a:hover {
  color:#FD8340;
}

#words {
	left: 530px;
}

#pictures {
	left: 628px;
}

#plugs {
	left: 743px;
}

#links {
	left: 834px;
}

/********************************************
 *	home									*
\********************************************/

#main {
	width:980px;
	margin:0 auto 0 auto;
}

.content_holder {
	width:100%;
	float:left;
	margin-top:25px;
	min-height: 400px;
}

.blog_content {
	float:left;
	width:660px;
	margin-right:40px;
}

.blog_content h3 {
  float: left;
  color: #464646;
  font-size: 30px;
  font-weight: normal;
}

.blog_content h4 {
	float: left;
	margin-top: 5px;
	font-size: 20px;
}

.blog_content h5 {
	float: left;	
	margin-top: 5px;
	font-size: 15px;
}

.blog_content h6 {
  float: left;
	margin-top: 5px;
	font-size: 12px;
}

.blog_content p {
	float:left;
	color:#464646;
	font-size: 12px;
	margin-top: 10px;
	margin-bottom: 5px;
	line-height: 14pt;
	font-weight: 550;
	width: 100%;
}

.blog_content p a {
	color: #F26E25;
}

p.light {
	color: #888888;
	font-style: italic;
	float: right;
}

.search_result {
	border: 1px solid #333333;
	margin-bottom: 5px;
	padding: 0px 5px 0px 5px;
}

.result_num {
	float: left;
	font-weight: bold;
	margin-top: 15px;
	margin-right: 10px;
}

.result_preview {
	margin-left: 23px;
}

.blog_nav {
	float: left;
	width: 100%;
	margin-top: 15px;
}

.blog_nav div.previous {
	float: left;
	margin-top: 10px;
	font-weight: bold;
}

.blog_nav img.previous {
	float: left;
	margin-right: 10px;	
}

.blog_nav div.next {
	float: right;
	margin-top: 10px;
	font-weight: bold;
}

.blog_nav img.next {
	float: right;
	margin-left: 10px;
}

.blog_text {
	min-height: 400px;
}

/********************************************
 *	footer									                *
\********************************************/

#footer {
	width:100%;
	margin-top: 20px;
	float: left;
	height:50px;
}

#footer_container {
	margin:0 auto;
	width:980px;
	position: relative;
}

img.rss {
	position: absolute;
	left: 181px;
}

.footer_links div {
	position: absolute;
	font-size: 12px;
}

.footer_links div a {
	color: black;
	font-weight: bold;
}

.footer_links div a:hover {
	color: #FD8340;
	text-decoration: none;
}

#contact {
	left: 236px;
}

#about {
	left: 335px;
}

#footer_container p {
	position: absolute;
	left: 265px;
	top: 23px;
	color: #454545;
	font-size: 11px;
	text-align:left;
}

/********************************************
 *	widgets									                *
\********************************************/

#widgets {
	width: 280px;
	float: left;
	margin-top: 17px;
}

.widget {
	margin-top: 17px;
	float: left;
	width: 100%;
}

.widget h3 {
	font-size:18px;
	font-weight: normal;
	color: #464646;
}

/********************************************
 *	search widget  						              *
\********************************************/

.search_container {
	margin-top: 5px;
	position: relative;
	width: 100%;
	height: 40px;
}

input.search {
	position: absolute;
	border: 1px solid black;
	padding: 2px;
	width: 237px;
	height: 20px;
	left: 0px;
	top: 3px;
}

.search_container input.go {
	position: absolute;
	right: 0px;
	top: 0px;
}

/********************************************
 *	tags widget   						              *
\********************************************/

.tags {
	margin-top: 10px;
	text-align: center;
	width: 100%;
}

.tag_small {
	font-size: 12px;
}

.tag_medium {
	font-size: 18px;
}

.tag_large {
	font-size: 24px;
}


/********************************************
 *	photo album   						              *
\********************************************/

.album_nav {
  float:left;
  margin-right:18px;
}

.albums {
  float:left;
  width:348px;
  border:1px solid #000;
}

#picture img.centered_image {
  display:block;
  text-align:center;
}

.album_data {
  float:left;
  width:100%;
  height:36px;
  border-bottom:1px solid #000;
}

.album_data img {
  float: left;
}

.album_data h4 {
  float:left;
  width:170px;
  margin:2px 0 0 10px;
  
}

.album_data h5 {
  float:right;
  margin:4px 5px 0 0;
  font-weight:normal;
  text-align:right;
}

.pictures {
  float:left;
  width:610px;
	height: 456px;
	vertical-align: middle;
	background-color: #DDDDDD;
	border:1px solid #000;
	text-align: center;
	position: relative;
}

#picture {
	height: 456px;
	width: 610px;
}

.arrows {
  float:left;
  width:100%;
  border-bottom:1px solid #000;
  height: 15px;
	cursor: pointer;
}

.no_border {
  border:none;
}

.thumb_arrows {
  width:348px;
  float:left;
  border:1px solid #000;
  margin-bottom:10px;
  height: 15px;
}

.thumb_wrapper {
  margin-top:33px;
  position: absolute;
  width: 400px;
  top: 345px;
}

.arrows img, .thumb_arrows img {
  float:left;
  margin-left: 165px;
  margin-top: 3px;
}

.thumbs {
  float:left;
}

#forward_album {
  position: absolute;
  top: 346px;
  margin-left: -1px;
  border:1px solid black;
  background-color: white;
  width:348px;
}

#forward_images {
  position: absolute;
  top: 245px;
}

#thumb_area {
	position: absolute;
	top: 27px;
}

.gallery_image {
	width: 62px;
	height: 46px;
	text-align: center;
	float: left;
  margin-right:10px;
  margin-bottom: 7px;
	background-color: #CCCCCC;
}

#image_data {
	position: absolute;
	height: 91px;
	width: 608px;
	top: 363px;
	border: 1px solid black;
	background-color: #000000;
	opacity: 0.9;
}

#image_data h3 {
	float: left;
	font-size: 14px;
	font-weight: bold;
	width: 450px;
	text-align: left;
	padding-top: 5px;
	padding-left: 5px;
}

#image_data h4 {
	padding-left: 5px;
	padding-top: 5px;
	text-align: left;
	float: left;
	font-size: 11px;
	font-weight: normal;
	width: 450px;
}

#image_data .exif {
	font-size: 8px;
	text-align: right;
	padding-right: 5px;
	padding-top: 5px;
}

#image_data .file_info {
	font-size: 8px;
	text-align: left;
	position: absolute;
	padding-left: 5px;
	top: 76px;
}

#image_data .date_info {
	font-size: 8px;
	text-align: left;
	position: absolute;
	padding-left: 5px;
	top: 76px;
	left: 200px;
}

#image_loading {
	position: absolute;
	top: 212px;
	left: 289px;
}

.exif ul {
	text-align: right;
	list-style-type: none;
	margin-bottom: 5px;
}

/********************************************
 *	plugs   								                *
\********************************************/

.thumb_holder {
  float:left;
  width:235px;
  margin:0 10px 10px 0;
}

.thumb_holder img {
  border:1px solid #888;
}

/********************************************
 *	admin only features  			              *
\********************************************/
.admin_link {
	float: left;
	font-weight: bold;
	margin: 0px 20px 0 0;
	text-decoration: underline;
}

.blog_content input, .blog_content textarea {
	border:1px solid #888888;
	float:left;
	margin:10px 0;
	padding:2px;
}


.admin_links {
	font-size: 9px;
}

/****************/
/* Admin albums */
/****************/

.new_album_link {
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	margin-top: 25px;
}

.new_photo label, .edit_photos label {
  width: 100px;
  text-align: right;
  font-weight: bold;
  float: left;
  padding-right: 9px;
  padding-top: 12px;
}

.new_photo input, .new_photo textarea {
  float: left;
}

.new_photo {
  border: 1px solid #888888;
  margin-left: 35px;
  margin-bottom: 5px;
}

#new_photos {
  margin-left: 35px;
  text-align: right;
  font-weight: bold;
}

.edit_photos {
	border: 1px solid #888888;
	margin-left: 35px;
	margin-bottom: 5px;
	padding: 10px;
}

.edit_photos .photo_details {
	float: left;
}

.edit_photos .photo_details {
	width: 500px;
}

.edit_photo_thumb {
	width: 62px;
	height: 46px;
	text-align: center;
	background-color: #CCCCCC;
	border: 1px solid #888888;
	float: left;
}

.edit_photo_left {
	width: 65px;
	float: left;
}

.edit_photo_left .admin_links {
	float: left;
	text-align: center;
	width: 65px;
	font-weight: bold;
}

#update_failure {
	text-align: center;
	font-weight: bold;
	color: red;
	border: 1px solid red;
	background-color: #FFCCFF;
	margin-left: 35px;
	padding: 5px;
}

#update_success {
	text-align: center;
	font-weight: bold;
	color: green;
	border: 1px solid green;
	background-color: #CCFFCC;
	margin-left: 35px;
	padding: 5px;
}