.main_content
  %h3 Log In
  .clear
  
  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    %div{:style => "float: left"}
      %h4 login
      .clear
      = f.text_field :email
    %div{:style => "float: left; padding-left: 25px"}
      %h4 password
      .clear
      = f.password_field :password
    .clear
    = submit_tag 'Log in'
