<style type = "text/css">

.album_nav {
  float:left;
  width:370px;
}

.albums {
  float:left;
  width:348px;
  margin-right:20px;
  border:1px solid #000;
}

.album_data {
  float:left;
  width:100%;
  height:36px;
  border-bottom:1px solid #000;
}

.album_data img {
  float: left;
}

.album_data h4 {
  float:left;
  width:170px;
  margin:2px 0 0 10px;
  
}

.album_data h5 {
  float:right;
  margin:4px 5px 0 0;
  font-weight:normal;
  text-align:right;
}

.pictures {
  float:left;
  width:610px;
}

.pictures img {
  border:1px solid #000;
}

#no_border {
  border:none;
}

.arrows {
  float:left;
  width:100%;
  border-bottom:1px solid #000;
}

.thumb_arrows {
  width:348px;
  float:left;
  border:1px solid #000;
  margin-bottom:10px;
}

.thumb_wrapper {
  float:left;
  margin-top:33px;
}

.arrows img, .thumb_arrows img {
  float:left;
  margin-left: 165px;
}

.thumbs {
  float:left;
  margin-bottom:10px;
}

.thumbs img {
  float:left;
  margin-right:10px;
}

</style>

<div class="album_nav"> 
  <div class="albums">
    <div class="arrows">
      <img src="/images/arrow_top.jpg" alt="top" />
    </div>
    <div class="album_data">
      <a href="#"><img src="/images/album_cover.jpg" alt="cover" /></a>
      <h4>Toby Takes a Nap blah blah blah blah</h4>      
      <h5>10/04/09<br />5 images</h5>      
    </div>
    <div class="album_data">
      <a href="#"><img src="/images/album_cover.jpg" alt="cover" /></a>
      <h4>Ana and Ian in NYC</h4>
      <h5>10/04/09<br />100 images</h5>
    </div>
    <div class="album_data">
      <a href="#"><img src="/images/album_cover.jpg" alt="cover" /></a>
      <h4>Day at the ROM</h4>
      <h5>05/05/09 <br />35 images</h5>
    </div>
    <div class="album_data">
      <a href="#"><img src="/images/album_cover.jpg" alt="cover" /></a>
      <h4>Being Cute with Ana</h4>
      <h5>06/30/09 <br />45 images</h5>
    </div>
    <div class="arrows" id="no_border">
      <img src="/images/arrow_bottom.jpg" alt="bottom" />
    </div>
  </div>

  <div class="thumb_wrapper">
    <div class="thumb_arrows"><img src="/images/arrow_top.jpg" alt="top" /></div>
    <div class="thumbs">
      <a href="#"><img src="/images/thumbnail.jpg" alt="thumb" /></a>
      <a href="#"><img src="/images/thumbnail.jpg" alt="thumb" /></a>
      <a href="#"><img src="/images/thumbnail.jpg" alt="thumb" /></a>
      <a href="#"><img src="/images/thumbnail.jpg" alt="thumb" /></a>
      <a href="#"><img src="/images/thumbnail.jpg" alt="thumb" /></a>
    </div>
    <div class="thumbs">
      <a href="#"><img src="/images/thumbnail.jpg" alt="thumb" /></a>
      <a href="#"><img src="/images/thumbnail.jpg" alt="thumb" /></a>
      <a href="#"><img src="/images/thumbnail.jpg" alt="thumb" /></a>
      <a href="#"><img src="/images/thumbnail.jpg" alt="thumb" /></a>
      <a href="#"><img src="/images/thumbnail.jpg" alt="thumb" /></a>
    </div>
    <div class="thumbs">
      <a href="#"><img src="/images/thumbnail.jpg" alt="thumb" /></a>
      <a href="#"><img src="/images/thumbnail.jpg" alt="thumb" /></a>
      <a href="#"><img src="/images/thumbnail.jpg" alt="thumb" /></a>
      <a href="#"><img src="/images/thumbnail.jpg" alt="thumb" /></a>
      <a href="#"><img src="/images/thumbnail.jpg" alt="thumb" /></a>
    </div>
    <div class="thumbs">
      <a href="#"><img src="/images/thumbnail.jpg" alt="thumb" /></a>
      <a href="#"><img src="/images/thumbnail.jpg" alt="thumb" /></a>
      <a href="#"><img src="/images/thumbnail.jpg" alt="thumb" /></a>
      <a href="#"><img src="/images/thumbnail.jpg" alt="thumb" /></a>
      <a href="#"><img src="/images/thumbnail.jpg" alt="thumb" /></a>
    </div>
    <div class="thumb_arrows"><img src="/images/arrow_bottom.jpg" alt="bottom" /></div>
  </div>
</div>

<div class="pictures">
  <img src="/images/toby.jpg" alt="toby" />
</div>