<style type = "text/css">
  .about_name {
    font-weight: bold;
    font-size: 18px;
  }
</style>

<div class = "main_content">
  <%= image_tag('about-ian.jpg') %>

  <p><span class = "about_name">Ian Enders</span> is a Software Engineer and Web Developer who lives in Toronto, Ontario, Canada.
    Ian is currently working on completing his ultimate collection of Marvel comics by collecting every issue of Captain America, The Avengers, The Fantastic Four and Daredevil.
    His zombie movie collection includes the full works of George Romero and Sam Raimi.  His comprehensive ska, punk, indie and post rock music collection is
    immaculately tagged and labelled.  He has an entire cabinet full of Magic the Gathering cards going all the way back to Revised.  He has a fully decked out Level 80
    Gnome Warlock in World of Warcraft, and he can kick your ass in Starcraft.  Basically, Ian is either the coolest person you have ever met, or the biggest loser in the
    world, depending on your perspective.
  </p>
  
  <p>If you're looking for someone to hire to do some web work for you, or just to be your friend, check out Ian's <strong><a href = "/resume">r&eacute;sum&eacute;</a></strong>
    to see if he fits the bill.</p>
  
  <div class = "clear"></div>
  
  <%= image_tag('about-toby.jpg', :style => 'padding-top: 25px') %>
  
  <p><span class = "about_name">Toby Enders</span> is a happy go-lucky little scoundrel who often acts as both Ian's muse, and his deterrent to productivity,
    depending on his mood at that particular hour.  With a general dislike for corporate culture and all things that come with it, including Skype conference calls,
    hour long meetings about scrupulous font sizes, filling out timesheets and bad instant coffee, Tobias always finds a way to rebel against authority and stick it to the
    man (generally by meowing obsessantly until the thing he disagrees with goes away).  Toby is always a valuable member of the team, and one Ian cherishes as his go-to guy
    for keeping his lap warm during the winter months.  Toby is always on the fight for Ian's physical and mental health, preventing burnout conditions by calling him out
    on those days when not enough attention has been lavished.
  </p>
  
</div>