<div class = "resume">
  <div class = "resume_head">
    <div class = "name">
      <h1>Ian Enders</h1>
      <div class = "degree">Bachelor of Software Engineering</div>
    </div>
    <div class = "contact_details">
      <a href = "/contact"><strong>Contact Me</strong></a><br />
      <a href = "/">http://www.addictedtoian.com</a><br />
      Toronto, Ontario, Canada
    </div>
  </div>
  
  <div class = "clear"></div>

  <h3>An Introduction</h3>
  
  <p>Ian Enders: Man or Machine?&nbsp;Some would say a bit of both.&nbsp;You be the judge, as you watch him learn at an incredible rate
  and adapt to any situation.&nbsp;He is loved and treasured by all of his past team members, often treated as the comical team
  mascot.&nbsp;Regardless of this, Ian is known to attack and solve (the right) problems creatively.&nbsp;His intuitive and logical
  side would seem to counteract his creative side; however, they fuse together with such harmony that it's astounding.</p>

  <h3>The Requisite Skills List</h3>
  
  <div class = "skill">
    <div class = "skill_name">Programming Languages:</div>
    <div class= "skill_description">
      Strong desire to produce excellently factored and readable object-oriented code.<br />
      <div class="skillz">Perl, Ruby, PHP, Java, C++, C, Visual Basic</div>
    </div>
  </div>
  
  <div class = "skill">
    <div class = "skill_name">Web Development:</div>
    <div class= "skill_description">
      Incredibly strong web fundamentals on both front and back end.<br />
      <div class="skillz">
        Ruby on Rails, Javascript, jQuery, Prototype, XHTML, CGI, SVG, Embperl, Mason,
        Coldfusion/CFML, sIFR, DOM, XSL, CSS, Flash, Apache, Remote Scripting, XMLHttpRequests/AJAX
      </div>
    </div>
  </div>
  
  <div class = "skill">
    <div class = "skill_name">Data Management:</div>
    <div class= "skill_description">
      Interested in rapid, efficient, and easy to maintain data storage and access in a variety of formats.<br />
      <div class="skillz">XML, DOM &amp; SAX Parsing, SQL, Perl DBI, JPA, JDBC, Hibernate, mysql, Oracle, Sybase</div>
    </div>
  </div>
  
  <div class = "skill">
    <div class = "skill_name">Digital Imaging:</div>
    <div class= "skill_description">
      Employs strong artistic ability to forge great designs and images.<br />
      <div class="skillz">Adobe Photoshop, Corel PhotoPaint, CorelScript, GD, Arc Explorer</div>
    </div>
  </div>

  <div class = "clear"></div>

  <h3>Recent Work Experience</h3>
  
  <div class = "job">
    <div class = "job_description">
      <div class = "title">Loaded Gun for Hire (Freelance Software Engineer)</div>
      <ul>
        <li>Using Ruby on Rails and story-driven development, produce website quickly in an agile manner, adapting to changing requirements and desires of business owners</li>
        <li>Create solutions for importing large amounts of images and product data asynchronously on a regular basis to feed large scale websites, like Liz Claiborne</li>
        <li>Lead and inspire partners and teammates at IntersectNYC to produce well thought out and creative solutions to common (and not so common) problems</li>
        <li>Perform server setup tasks, with an understanding of all major deployment/hosting technologies available to Rails applications (Passenger, Thin/nginx, Mongrel/Pen, etc.)</li>
        <li>Have experience dealing with the major players in Rails hosting community like Slicehost, Engine Yard, Engine Yard Solo and Media Temple</li>
        <li>Experience developing full e-Commerce sites, including knowledge of Credit Card Gateways like Authorize.net</li>
        <li>Perform continuous support on and maintain stability of projects after initial launch</li>
        <li>For example clients and projects, see <a href = "/plugs">portfolio</a></li>
      </ul>
    </div>
    <div class = "job_date_location">
      August 2008 - Present
      <div class = "location">Toronto, Ontario</div>
    </div>
  </div>
  
  <div class = "job">
    <div class = "job_description">
      <div class = "title">Web Service Magician (Software Development Engineer)<br />Amazon.com</div>
      <ul>
        <li>Sole developer to deliver end-to-end product integrating United States Postal Service with Seller Central, the platform for merchants to sell on Amazon.com</li>
        <li>First at company to adopt and integrate Amazon's frameworks with Java Persistence API for object-relational mapping in service layers</li>
        <li>Worked on various pieces of the Amazon site, dealing with the full gamut of legacy code bases, proprietary software, and exciting cutting edge technologies</li>
        <li>Produced scalable and efficient software which serves up millions of requests a day</li>
        <li>Responsible for end-to-end Web Service development, including project proposal, specification, development and testing</li>
        <li>Built multithreaded Java processes to communicate in distributed Unix Web environment</li>
        <li>Produced exciting and interesting prototypes for possible future projects using Perl Mason</li>
        <li>Went on rotation to handle problems when site crashed and burned, day or night</li>
        <li>Actively participated in the hiring process, conducting interviews and making judgements on candidates</li>
      </ul>
    </div>
    <div class = "job_date_location">
      July 2006 - July 2008 / Fall 2005
      <div class = "location">Seattle, Washington</div>
    </div>
  </div>
    
  <div class = "job">
    <div class = "job_description">
      <div class = "title">The Web Efficiency Maximizer (Application Developer)<br />IBM Deutschland Gmbh.</div>
      <ul>
        <li>Totally refactored PHP internal enterprise application with mysql backend DB</li>
        <li>Developed library files, modified and added new functionality to system</li>
        <li>Worked and networked with developers and architects across the world</li>
        <li>Communicated with clients to gather requirements and produce specifications</li>
        <li>Obtained experience working in highly structured and disciplined work environment</li>
      </ul>
    </div>
    <div class = "job_date_location">
      Winter 2005
      <div class = "location">Herrenberg, Germany</div>
    </div>
  </div>
  
  <div class = "job">
    <div class = "job_description">
      <div class = "title">The Web Master (Web Developer)<br />Kanetix Ltd.</div>
      <ul>
        <li>Optimized and refactored code for all parts of Kanetix website</li>
        <li>Designed and implemented Oracle database Content Management System and transaction manager using Perl</li>
        <li>Developed backend Embperl pages and frontend Javascript code to enhance Kanetix website functionality</li>
        <li>Integrated developed code to testing environments using CVS and my CMS</li>
      </ul>
    </div>
    <div class = "job_date_location">
      Spring 2004
      <div class = "location">Toronto, Ontario</div>
    </div>
  </div>
  
  <div class = "job">
    <div class = "job_description">
      <div class = "title">Web Application Developer (Research Assistant)<br />Computer Systems Group, University of Waterloo</div>
      <ul>
        <li>Responsible for creation, maintenance and documentation of SVG mapping application</li>
        <li>Utilized detailed technical knowledge of Javascript, SVG, DOM, Coldfusion, and SQL</li>
        <li>Worked with Adobe Photoshop and Arc Explorer to manage map imagery</li>
        <li>Wrote Perl scripts to automate image generation and database data entry</li>
      </ul>
    </div>
    <div class = "job_date_location">
      Fall 2003
      <div class = "location">Waterloo, Ontario</div>
    </div>
  </div>
  
  <div class = "job">
    <div class = "job_description">
      <div class = "title">Web Development Guru  / Webmonkey (Assistant Technician)<br />Environment Canada</div>
      <ul>
         <li>Wrote server-side Perl, PHP and XSL to serve up dynamic pages</li>
         <li>Wrote and documented scripts to automate large-scale change in data for Weatheroffice backend</li>
         <li>Successfully proposed that Weatheroffice backend data be restructured to avoid unnecessary complexity</li>
      </ul>
    </div>
    <div class = "job_date_location">
      Winter 2003 / Spring 2002
      <div class = "location">Downsview, Ontario</div>
    </div>
  </div>

  <div class = "clear"></div>

  <h3>Education</h3>
  
  <div class = "job">
    <div class = "job_description">
      <div class = "title">University of Waterloo</div>
      <ul>
        <li>Honours Co-Op, Bachelor of Software Engineering</li>
	    </ul>
    </div>
    <div class = "job_date_location">
      Sept. 2001 - Apr. 2006
      <div class = "location">Waterloo, Ontario</div>
    </div>
  </div>

</div>