<style type="text/css">
 body {
  font-family: Arial, Helvetica, sans-serif;
 }

 h1, h2, h3, h4, h5, h6 {
  font-family: Arial;
  padding-bottom: 3px;
  margin-bottom: 0px;
 }

 .underlined_header {
  width: 100%;
  border-bottom: 1px solid black;
 }

 ul {
  margin-bottom: 0px;
  margin-top: 0px;
  padding-bottom: 10px;
  padding-top: 10px;
 }

 ul.tight {
  padding-bottom: 0px;
  padding-top: 0px;
 }


 a, a:active, a:focus, a:visited, a:link {
  text-decoration: underline;
  color: #000099;
 }

 a:hover {
  color: #0099CC;
  text-decoration: none;
 }
</style>

<table border = "0" width = "100%" cellpadding = "0" cellspacing = "0"
    style = "border-bottom: 1px solid black; padding-bottom: 10px">
  <tr>
    <td width = "200" valign = "middle" style = "padding-left: 30px">
      <span style = "font-size: smaller">
        <strong>Mailing Address:</strong><br />
        3720 Beverly Glen<br />
        Camlachie, ON<br />
        N0N 1E0<br />
      </span>
    </td>
    <td align = "center" valign = "middle">
      <h1>Ian Enders</h1>
      Bachelor of Software Engineering
    </td>
    <td width = "200" align = "right" valign = "middle" style = "padding-right: 30px">
      <span style = "font-size: smaller">
        <a href = "mailto: ian.enders@gmail.com">ian.enders@gmail.com</a><br />
        <a href = "http://gibnai.no-ip.com">http://gibnai.no-ip.com</a><br />
        Home: (519) 885-2320<br />
        Cell: (519) 402-0180
     </span>
  </tr>
</table>
<table width = "100%" border = "0" cellpadding = "0" cellspacing = "0"
    style = "padding-left: 15px; padding-right: 15px; padding-top: 20px; padding-bottom: 10px;">
    <tr><td>

<h3 class = "underlined_header">An Introduction</h3>
<p>Ian Enders: Man or Machine?&nbsp; Some would say a bit of both.&nbsp; You be the judge, as you watch him learn at an incredible rate
and adapt to any situation.&nbsp; He is loved and treasured by all of his past team members, often treated as the comical team
mascot.&nbsp; Regardless of this, Ian is known to attack and solve (the right) problems creatively.&nbsp; His intuitive and logical
side would seem to counteract his creative side; however, they fuse together with such harmony that it's astounding.</p>

<h3 class = "underlined_header">The Requisite Skills List</h3>
<table border = "0" cellpadding = "10" cellspacing = "0" width = "100%">
  <tr>
    <td align = "right" valign = "top">
      <strong>Programming Languages: </strong>
    </td>
    <td>Strong desire to produce excellently factored and readable object-oriented code.<br /><strong>Perl, PHP, Java, C++, C, Visual Basic</strong></td>
  </tr>
  <tr>
    <td align = "right" valign = "top">
      <strong>Web Development: </strong>
    </td>
    <td>Incredibly strong web fundamentals on both front and back end.<br /><strong>HTML, CGI, SVG, Embperl, Mason, Coldfusion/CFML, Javascript, DOM, XSL, CSS, Flash, Apache, Remote Scripting, XMLHttpRequests</strong></td>
  </tr>
  <tr>
    <td align = "right" valign = "top">
      <strong>Data Management: </strong>
    </td>
    <td>Interested in rapid, efficient, and easy to maintain data storage and access in a variety of formats.<br /><strong>XML, DOM & SAX Parsing, SQL, Perl DBI, JDBC, mysql, Oracle, Sybase</strong></td>
  </tr>
  <tr>
    <td align = "right" valign = "top">
      <strong>Digital Imaging: </strong>
    </td>
    <td>Employs strong artistic ability to forge great designs and images.<br /><strong>Adobe Photoshop, Corel PhotoPaint, CorelScript, GD, Arc Explorer</strong></td>
  </tr>
</table>



<h3 class = "underlined_header">Recent Work Experience</h3>
<table border = "0" cellspacing = "0" cellpadding = "0" width = "100%"
    style = "padding: 0px 15px 0px 15px">

 <tr style = "padding-top: 10px">
   <td valign = "top">
     <strong>
       Web Service Magician (Software Developer)<br />
       Amazon.com
     </strong>
   </td>
   <td align = "right" valign = "top">
     <strong>
       Fall 2005<br />
       <span style = "font-size: smaller">Seattle, Washington</span>
     </strong>
   </td>
 </tr>
 <tr style = "padding-bottom: 15px">
   <td colspan = "2">
     <ul class = "tight">
       <li>Responsible for end-to-end Web Service development, including project proposal, specification, development and testing</li>
       <li>Built multithreaded Java processes to communicate in distributed Unix Web environment</li>
       <li>Produced exciting and interesting prototypes for possible future projects using Perl Mason</li>
       <li>Worked with Amazon.com and U.S.P.S. Web APIs to access data through XML DOM and HTTP</li>
     </ul>
   </td>
 </tr>

 <tr style = "padding-top: 10px">
   <td valign = "top">
     <strong>
       The Web Efficiency Maximizer (Application Developer)<br />
       IBM Deutschland Gmbh.
     </strong>
   </td>
   <td align = "right" valign = "top">
     <strong>
       Winter 2005<br />
       <span style = "font-size: smaller">Herrenberg, Germany</span>
     </strong>
   </td>
 </tr>
 <tr style = "padding-bottom: 15px">
   <td colspan = "2">
     <ul class = "tight">
       <li>Totally refactored PHP internal enterprise application with mysql backend DB</li>
       <li>Developed library files, modified and added new functionality to system</li>
       <li>Worked and networked with developers and architects across the world</li>
       <li>Communicated with clients to gather requirements and produce specifications</li>
       <li>Obtained experience working in highly structured and disciplined work environment</li>
     </ul>
   </td>
 </tr>

 <tr style = "padding-top: 10px">
   <td valign = "top">
     <strong>
       The Web Master (Web Developer)<br />
       Kanetix Ltd.
     </strong>
   </td>
   <td align = "right" valign = "top">
     <strong>
       Spring 2004<br />
       <span style = "font-size: smaller">Toronto, Ontario</span>
     </strong>
   </td>
 </tr>
 <tr style = "padding-bottom: 15px">
   <td colspan = "2">
     <ul class = "tight">
       <li>Optimized and refactored code for all parts of Kanetix website</li>
       <li>Designed and implemented Oracle database Content Management System and transaction manager using Perl</li>
       <li>Developed backend Embperl pages and frontend Javascript code to enhance Kanetix website functionality</li>
       <li>Integrated developed code to testing environments using CVS and my CMS</li>
     </ul>
   </td>
 </tr>


 <tr style = "padding-top: 10px">
   <td valign = "top">
     <strong>
       Web Application Developer (Research Assistant)<br />
       Computer Systems Group, University of Waterloo
     </strong>
   </td>
   <td align = "right" valign = "top">
     <strong>
       Fall 2003<br />
       <span style = "font-size: smaller">Waterloo, Ontario</span>
     </strong>
   </td>
 </tr>
 <tr style = "padding-bottom: 15px">
   <td colspan = "2">
     <ul class = "tight">
       <li>Responsible for creation, maintenance and documentation of SVG mapping application</li>
       <li>Utilized detailed technical knowledge of Javascript, SVG, DOM, Coldfusion, and SQL</li>
       <li>Worked with Adobe Photoshop and Arc Explorer to manage map imagery</li>
       <li>Wrote Perl scripts to automate image generation and database data entry</li>
     </ul>
   </td>
 </tr>


 <tr>
   <td valign = "top">
     <strong>
       Web Development Guru  / Webmonkey (Assistant Technician)<br />
       Environment Canada
     </strong>
   </td>
   <td align = "right" valign = "top">
     <strong>
       Winter 2003 / Spring 2002<br />
       <span style = "font-size: smaller">Downsview, Ontario</span>
     </strong>
   </td>
 </tr>
 <tr style = "padding-bottom: 15px">
   <td colspan = "2">
     <ul class = "tight">
        <li>Wrote server-side Perl, PHP and XSL to serve up dynamic pages</li>
        <li>Wrote and documented scripts to automate large-scale change in data for Weatheroffice backend</li>
        <li>Successfully proposed that Weatheroffice backend data be restructured to avoid unnecessary complexity</li>
     </ul>
   </td>
 </tr>

</table>

<h3 class = "underlined_header">Education</h3>
<table border = "0" cellspacing = "0" cellpadding = "0" width = "100%"
    style = "padding: 0px 15px 0px 15px">
 <tr style = "padding-top: 10px">
   <td valign = "top">
     <strong>
       University of Waterloo
     </strong>
    <ul>
        <li>Honours Co-Op, Bachelor of Software Engineering</li>
	</ul>
   </td>
   <td align = "right" valign = "top">
     <strong>
       Sept. 2001 - Apr. 2006<br />
       <span style = "font-size: smaller">Waterloo, Ontario</span>
     </strong>
   </td>
 </tr>
</table>

<h3 class = "underlined_header">Other Interesting Facts</h3>
<ul>
	<li>Ian has a website.  You should check it out at <a href = "http://gibnai.no-ip.com">http://gibnai.no-ip.com</a>.</li>
	<li>Ian likes music... a lot.  You should strike up a chat about indie, ska, punk, or post-rock music with him.</li>
	<li>Ian is equally as artistic as he is technical.  He has hidden aspirations to be a comic book artist, and most of
	    his friends tell him he's in the wrong program.</li>
	<li>Ian likes to "geek it up" on occasion and play Magic: The Gathering or read comic books.</li>
</ul>


<h3 class = "underlined_header">References</h3>
<p>For privacy reasons, I don't want to put these online here.  Contact me and I can give them to you.</p>

</td></tr>
</table>