.resume
  .resume_head
    .name
      %h1 Ian Enders
      .degree Bachelor of Software Engineering
    .contact_details
      %a{:href => "/contact"}
        %strong Contact Me
      %br/
      %a{:href => "/"} http://www.addictedtoian.com
      %br/
      Toronto, Ontario, Canada
  .clear
  %h3 An Introduction
  %p
    Ian Enders: Man or Machine?&nbsp;Some would say a bit of both.&nbsp;You be the judge, as you watch him
    learn at an incredible rate and adapt to any situation. Willing to dig in deep and get his hands dirty
    on every aspect of a project, but also keen on solving the big picture issues and getting a project done
    on time and under budget. His patience and attention to detail have made him an ideal mentor for junior
    developers as they learn to get their heads around new problems and existing architectures. His intuitive and logical
    side would seem to counteract his creative side; however, they fuse together with such harmony that it's astounding.
  %h3 The Requisite Skills List
  .skill
    .skill_name Programming Languages:
    .skill_description
      .skillz Ruby, Java, Perl, PHP, Java, C++, C
  .skill
    .skill_name Web Development:
    .skill_description
      .skillz
        Ruby on Rails, Javascript, jQuery, Prototype, XHTML, HTML5, CSS3, SVG, AJAX, HAML, SASS
  .skill
    .skill_name Data Management:
    .skill_description
      .skillz XML, DOM &amp; SAX Parsing, SQL, Perl DBI, JPA, JDBC, Hibernate, mysql, Oracle
  .skill
    .skill_name Team/Project/Client Management:
    .skill_description
      .skillz Story Driven Development, Scrum, Frequent Releases and other Agile Methodologies. Personal Client Management.
  .clear
  %h3 Recent Work Experience
  .job
    .job_description
      .title
        Loaded Gun for Hire (Freelance Software Engineer)
        %br/
        %br/
        %span(style="font-size: 12px")Contract Lead Developer and Architect at Satellite Records (NYC - 2011)
        %br/
        %span(style="font-size: 12px")Contract Team Lead and Architect at IntersectNYC (NYC - 2008-2010)
      %ul(style="margin-top: 15px")
        %li
          %strong Architected
          full multi-merchant e-Commerce and content management platforms in Ruby on Rails and Java for a variety of clients.
          Developed complex digital download sites and managed the unique needs of each client to process and ingest
          large quantities of product, inventory and digital asset data to support the ongoing maintenance of their
          personal web-stores and brochure sites.
        %li
          %strong Led
          several small teams of developers (3-5; often remote or off-shore)
          to delegate and execute several projects at one time using
          technologies that I architected and oversaw. Mentored several developers over the course of several
          years in order to improve their skillset (teaching fundamental programming concepts to junior frontend
          developers and more overarching concepts like dependency injection with Java and Spring to higher level
          programmers). Provided technical guidance and leadership to business owners to point their businesses
          in the right direction and set them up for technical success.
        %li
          %strong Managed
          client expectations on a day to day basis. Using story-driven development and frequent releases,
          was able to deliver projects on-time, on-budget and properly estimated to day precision.
          This was in addition to managing and prioritizing day to day system maintenance and the normal support
          requirements of past customers.
        %li
          %strong Supported
          all aspects of the business, including sequestering and maintaining domains and hosting (Slicehost, Amazon EC2,
          EngineYard Cloud, Rackspace, DataPipe, etc.), managing deployments, performing weekly status updates with clients,
          and performing code framework upgrades and resolving ticket requests.
        %li
          For over 25 example clients and projects, see portfolio at #{link_to('http://addictedtoian.com/plugs', '/plugs')} 
    .job_date_location
      August 2008 - Present
      .location Toronto, Ontario
  .job
    .job_description
      .title
        Web Service Magician (Software Development Engineer)
        %br/
        Amazon.com
      %ul
        %li
          Sole developer to deliver end-to-end product integrating United States Postal Service with
          Seller Central, the platform for merchants to sell on Amazon.com
        %li
          First at company to adopt and integrate Amazon's frameworks with Java Persistence API for
          object-relational mapping in service layers
        %li
          Worked on various pieces of the Amazon site, dealing with the full gamut of legacy code bases,
          proprietary software, and exciting cutting edge technologies
        %li Produced scalable and efficient software which serves up millions of requests a day
        %li Responsible for end-to-end Web Service development, including project proposal, specification, development and testing
        %li Built multithreaded Java processes to communicate in distributed Unix Web environment
        %li Produced exciting and interesting prototypes for possible future projects using Perl Mason
        %li Went on rotation to handle problems when site crashed and burned, day or night
        %li Actively participated in the hiring process, conducting interviews and making judgements on candidates
    .job_date_location
      July 2006 - July 2008 / Fall 2005
      .location Seattle, Washington
  .job
    .job_description
      .title
        The Web Efficiency Maximizer (Application Developer)
        %br/
        IBM Deutschland Gmbh.
      %ul
        %li Totally refactored PHP internal enterprise application with mysql backend DB
        %li Developed library files, modified and added new functionality to system
        %li Worked and networked with developers and architects across the world
        %li Communicated with clients to gather requirements and produce specifications
        %li Obtained experience working in highly structured and disciplined work environment
    .job_date_location
      Winter 2005
      .location Herrenberg, Germany
  .job
    .job_description
      .title
        The Web Master (Web Developer)
        %br/
        Kanetix Ltd.
      %ul
        %li Optimized and refactored code for all parts of Kanetix website
        %li Designed and implemented Oracle database Content Management System and transaction manager using Perl
        %li Developed backend Embperl pages and frontend Javascript code to enhance Kanetix website functionality
        %li Integrated developed code to testing environments using CVS and my CMS
    .job_date_location
      Spring 2004
      .location Toronto, Ontario
  .job
    .job_description
      .title
        Web Application Developer (Research Assistant)
        %br/
        Computer Systems Group, University of Waterloo
      %ul
        %li Responsible for creation, maintenance and documentation of SVG mapping application
        %li Utilized detailed technical knowledge of Javascript, SVG, DOM, Coldfusion, and SQL
        %li Worked with Adobe Photoshop and Arc Explorer to manage map imagery
        %li Wrote Perl scripts to automate image generation and database data entry
    .job_date_location
      Fall 2003
      .location Waterloo, Ontario
  .job
    .job_description
      .title
        Web Development Guru  / Webmonkey (Assistant Technician)
        %br/
        Environment Canada
      %ul
        %li Wrote server-side Perl, PHP and XSL to serve up dynamic pages
        %li Wrote and documented scripts to automate large-scale change in data for Weatheroffice backend
        %li Successfully proposed that Weatheroffice backend data be restructured to avoid unnecessary complexity
    .job_date_location
      Winter 2003 / Spring 2002
      .location Downsview, Ontario
  .clear
  %h3 Education
  .job
    .job_description
      .title University of Waterloo
      %ul
        %li Honours Co-Op, Bachelor of Software Engineering
    .job_date_location
      Sept. 2001 - Apr. 2006
      .location Waterloo, Ontario
