.main_content
  %p
    If you want to drop me a line, just pound on your keyboard while clicking through the fields below.  When you're happy with the stream of letters you've created,
    press the blue button. Through the magic of the Interweb, I will read your message and I will realize how cool you are for acknowledging my awesomeness.
  .contact_form
    - form_for(:contact, @contact || Contact.new, :url => { :action => 'index' }, :remote => true) do |f|
      .field
        = f.text_field(:name, :size => 30)
        %label
          Your Name
          %sup> *
          \:
      .field
        = f.text_field(:email, :size => 30)
        %label Your Email:
      .clear
      = f.text_area(:message, :rows => 15, :cols => 80)
      %label.message
        Your Message
        %sup> *
        \:
      .clear
      = image_submit_tag('button_email.png', :style => 'border: 0px', :class => 'submit')
      %p.note
        %strong
          %sup *
        Means it's a required field and stuff.
      #error You were unable to save your thing.
      #success Your message has been sent.  Thanks homie!
