<div class="thumb_holder">
  <a href="#"><img src="/images/thumb_liz.jpg" alt="liz claiborne"></a>
</div>

<div class="thumb_holder">
  <a href="#"><img src="/images/thumb_mally.jpg" alt="liz claiborne"></a>
</div>

<div class="thumb_holder">
  <a href="#"><img src="/images/thumb_kates.jpg" alt="liz claiborne"></a>
</div>

<div class="thumb_holder">
  <a href="#"><img src="/images/thumb_kimara.jpg" alt="liz claiborne"></a>
</div>

<div class="thumb_holder">
  <a href="#"><img src="/images/thumb_lucky.jpg" alt="liz claiborne"></a>
</div>

<div class="thumb_holder">
  <a href="#"><img src="/images/thumb_indagare.jpg" alt="liz claiborne"></a>
</div>

<div class="thumb_holder">
  <a href="#"><img src="/images/thumb_amazon.jpg" alt="liz claiborne"></a>
</div>

<div class="thumb_holder">
  <a href="#"><img src="/images/thumb_ibm.jpg" alt="liz claiborne"></a>
</div>

<div class="thumb_holder">
  <a href="#"><img src="/images/thumb_kanetix.jpg" alt="liz claiborne"></a>
</div>

<div class="thumb_holder">
  <a href="#"><img src="/images/thumb_weatheroffice.jpg" alt="liz claiborne"></a>
</div>
