<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<meta name="keywords" content="addicted to ian, ian enders, addicted to ian enders, buns">
	<meta name="description" content="ian enders, huny buns, hun buns, addicted to ian">
	<meta name="copyright" content="addictedTOian">
	<meta name="robots" content="index,follow">
	<meta name="verify-v1" content="LVskyML3JgIVZa3Sy+64MdryZYMOW2GAwSH4uC7j1lM=" >
	<meta name="Author" content="Ian Enders" />	
	
	<title>addictedTOian</title>
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

	<%= javascript_include_tag :defaults, 'jquery.flash.min', 'jquery.sifr.min' %>
	<%= stylesheet_link_tag 'style' %>
</head>

<body>
  <div id="header">
    <div id="header_container">
		  <%= link_to(image_tag('logo.jpg', :alt => 'addictedTOian'), '/') %>
  		<div id="navigation">
  			<ul>
  				<li><a href="#">words</a></li>
  				<li><a href="#">pictures</a></li>
  				<li><a href="#">plugs</a></li>
  				<li><a href="#.html">links</a></li>
  			</ul>
  		</div>
  	</div>
	</div>
	<div id="main">
	  <div class="content_holder">
	    <%= yield %>
    </div>
		<div id="footer">
			<p>&copy; Copyright 2009 Gibnai Productions.</p>
		</div>
	</div>
</body>
</html>